---
layout: default
body-class: main-page
description: Изостудия Арт Портал
---
<div class="index-text cf">
    <h1>Изостудия Арт Портал</h1>
    <p><strong>Изостудия Арт Портал </strong> - это рисование для детей и взрослых. Студия открыта для всех, кто хочет научиться рисовать. Мы не проводим испытательных экзаменов и собеседований, главное от Вас – желание учиться. Возраст не имеет значения, научим всех. Набор в изостудию осуществляется в течении всего учебного года.</p>
</div>
<div class="news cf">
    <h2>Новости студии</h2>
    <div class="news-wrap owl-carousel">
        {% assign image_default = "/img/post/preview-image.jpg" %}
        {% for post in paginator.posts %}
        <div class="news__item">
            <div class="news__item-wrap">
                <div class="news__image">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
                    </a>
                </div>
                <div class="news__content">
                    <div class="news__title">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.title }}
                        </a>
                    </div>
                    <div class="news__date">
                        {{ post.date | date: "%d.%m.%Y" }}
                    </div>
                    <div class="news__annotation">
                        {{ post.annotation }}
                    </div>
                    <div class="news__link">
                        <a href="{{ post.url | prepend: site.baseurl }}">Читать далее</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<h2 class="cf"><a href="{{ site.baseurl }}/gallery/">Фотогалерея</a></h2>
<div class="gallery js-photoswipe-gallery -main">
    {% assign gallery = site.data.main-gallery.galereya-na-glavnoy %}
        {% for image in gallery.images %}
            <div class="gallery__item">
                <a href="{{ site.baseurl }}/img/gallery/{{gallery.name}}/{{image.name}}">
                    <img src="{{ site.baseurl }}/img/gallery/{{gallery.name}}/{{image.name}}" alt="">
                </a>
            </div>
        {% endfor %}
</div>

<!-- <div class="program cf">

    <h2>Направления занятий</h2>
    <div class="program-wrap owl-carousel">
    {% assign program =  site.data.program.program | sort: 'order' %}
        {% for item in program  %}
            {% if item.hide != true %}
                <div class="program__item">
                    <a class="program__title" href="/program/zanyatiya-dlya-vzroslykh/">Занятия для взрослых</a>
                    <a class="program__image" href="/program/zanyatiya-dlya-vzroslykh/">
                        <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
                    </a>
                    <div class="program__description">
                        <a href="/program/zanyatiya-dlya-vzroslykh/">Программы для взрослых, имеющих различный уровень подготовки.</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div> -->

<!-- <div class="program cf">
    <h2>Направления занятий</h2>
    <div class="program-wrap owl-carousel">
        <div class="program__item">
            <a class="program__title" href="/program/zanyatiya-dlya-vzroslykh/">Занятия для взрослых</a>
            <a class="program__image" href="/program/zanyatiya-dlya-vzroslykh/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/zanyatiya-dlya-vzroslykh/">Программы для взрослых, имеющих различный уровень подготовки.</a>
            </div>
           
        </div>
        <div class="program__item">
            <a class="program__title" href="/program/zanyatiya-dlya-detey-ot-3-let/">Занятия для детей от трех лет</a>
            <a class="program__image" href="/program/zanyatiya-dlya-detey-ot-3-let/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/zanyatiya-dlya-detey-ot-3-let/">Программа для развития творческого потенциала.</a>
            </div>
        </div>
        <div class="program__item">
            <a class="program__title" href="/program/zmaster-klass/">Мастер-классы</a>
            <a class="program__image" href="/program/zmaster-klass/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/zmaster-klass/">Мастер-классы по работе пастелью, маслом, акрилом  и многое другое</a>
            </div>
        </div>
        <div class="program__item">
            <a class="program__title" href="/program/podgotovka-k ekzamenam/">Подготовка к вступительным испытаниям в ВУЗ</a>
            <a class="program__image" href="/program/podgotovka-k ekzamenam/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/podgotovka-k-ekzamenam/">Подготовим к поступлению в ВУЗы по профильным дисциплинам</a>
            </div>
        </div>
        <div class="program__item">
            <a class="program__title" href="program/akademicheskaya-programa/">Академическая программа</a>
            <a class="program__image" href="/program/akademicheskaya-programa/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/akademicheskaya-programa/">Специальная программа для имеющих первоначальные навыки рисунка и живописи</a>
            </div>
        </div>
        <div class="program__item">
            <a class="program__title" href="/program/proyekt-shkola-dizayna/">Проект "Школа дизайна"</a>
            <a class="program__image" href="/program/proyekt-shkola-dizayna/">
                <img src="{{ post.image | prepend: site.baseurl | default: image_default }}">
            </a>
            <div class="program__description">
                <a href="/program/proyekt-shkola-dizayna/">Программа для детей от 8 до 14 лет.</a>
            </div>
        </div>

    </div>
</div> -->
<div class="teachers -main cf">
    <h2>Преподаватели студии</h2>
    <div class="teachers-wrap">   
        
        {% assign teachers = site.data.teachers  %}        
        {% for teacher_hash in teachers %}            
            {% assign teacher = teacher_hash[1] %}
            {% if teacher.hide != true %}
                <div class="teachers__item">
                    <div class="teachers__images">
                        <img src="{{ site.baseurl }}/img/teachers/{{teacher.avatar}}" alt="{{teacher.name}}" title="{{teacher.name}}">
                    </div>
                    <div class="teachers__content">
                        <div class="teachers__name">
                            {{teacher.name}}
                        </div>
                        <div class="teachers__text">
                            {{teacher.text}}
                        </div>
                        <div class="teachers__link">
                            <a href="{{ site.baseurl }}/teachers-gallery/{{teacher.link}}" target="_blank">Ознакомиться с работами преподавателя</a>
                        </div>
                    </div>
                    
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- {% if paginator.total_pages > 1 %}
<div class="pagination">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
  <i class="fa fa-chevron-left"></i>
  {{ site.theme_settings.str_prev }}
</a>
{% endif %}
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
  {{ site.theme_settings.str_next }}
  <i class="fa fa-chevron-right"></i>
</a>
{% endif %}
</div>
{% endif %} -->




