.gray-table{
	margin:20px 0;
	color: #2d2b2b;
	font-size: 16px;
}

.gray-table th{
	padding: 10px;
}

.gray-table tr:first-child th{
	padding: 20px 10px;
}

.gray-table th:first-child{
	padding-left: 10px;
}

.gray-table tr td{
	padding: 10px;
}

.feature-image .post-content,
.post-content{
	margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;
}


@media all and (max-width: 1000px){
	.feature-image .post-content,
	.post-content{
	    padding: 0 20px;
	}
}



/****************************schedule*****************************/
.schedule{

}

.schedule__item{
	margin-bottom: 50px;
}

.schedule__title{
	margin: 40px 0 20px 0;
}

/****************************schedule*****************************/

.teachers,
.teachers *{
	box-sizing: border-box;
	vertical-align: top;
}

.teachers{
	margin:40px 0;
}

.teachers-wrap{
	font-size: 0;
	line-height: 0;
	margin-left: -3%;
}

.teachers__item-wrap{
	width: 50%;
	display: inline-block;
	padding-left: 3%;
	margin-bottom: 40px;
}

.teachers__item{
	height: 336px;
	padding: 23px 23px 17px 23px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 3px 4px 11px rgba(0,0,0,0.4);
}

.teachers__images{
	float: left;
	width: 130px;
	height: 130px;
	overflow: hidden;
	display: inline-block;
	border-radius: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.teachers__images img{
	width: 100%;
}

.teachers__name{
	width: 70%;
	width: calc(100% - 150px);
	display: inline-block;
	font-size: 19px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	padding: 0 12px;
	/*height: 130px;*/
	overflow: hidden;
}

.teachers__name-wrap{
	display: inline-block;
	padding: 5px 0 0 0;
	/*height: 130px;*/
}

.teachers__text{
	margin: 12px 0 0 0;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.teachers__link{
	clear: both;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
	transition: all 0.3s;
	margin: 6px 0;
	color: #1268b2;
}

.teachers__link:hover{
	text-decoration: none;
}


.teachers__link a{
	color:inherit;
}

.teachers__gallery{
	text-align: center;
}

.teachers__gallery-name{
	margin: 50px 0 25px 0;
}

.teachers__gallery .fotorama__wrap{
	margin: 0 auto;
}

@media all and (max-width: 850px){
	.teachers__item-wrap{
		width: 100%;
	}
}