
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');


/******************************common***************************/
html{
	min-width:1000px
}
.container{

}

.cf{
	max-width: 960px;
	width: 100%;
	margin:0 auto;
}


/************************************header************************************************/
.branding{

display: block;

margin-left: -20px;

padding: 20px 0;
}

.branding__item_wrap{
	padding-left:20px;
	display: inline-block;
	vertical-align: middle;
}

.header__title{
	
width: 58%;
}

.header__phone .branding__item{
	position: relative;
	padding-left: 35px;
	margin-bottom: 11px;
	font-size: 22px;
	line-height: 26px;
	font-weight: 600;
}
.header__phone .branding__item:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	width: 24px;
	height: 24px;
	background: url('../../img/custom/phone-call.png') no-repeat;
}

.header__phone .branding__item.mobile:after{
	background: url('../../img/custom/smartphone-call.png') no-repeat;
}


.branding__item{

}

.logo__link{
	
}

.site-header{
	float: none;
	display: block;
	width: 100%;
	padding: 0;
}

.site-header a{

}


.site-header .site-title{
	float:none;
	display: inline-block;
}

.site-header .logo{
	
float: none;
	
width: 130px;
}



.site-nav{
	display: block;
	width: 100%;
	float: none;
	margin: 10px 0 20px 0;
}

.site-header .site-nav ul{
	float:none;
	padding-top: 0;
}

.site-header .site-nav li{
	float:none;
}

.site-header .site-nav li a{
	float:none;
	transition:all 0.3s;
	color: #000;
}
.site-header .site-nav li a:hover{
	opacity:0.8;
	text-decoration:none;
}

.gray-table{
	margin:20px 0;
	color: #2d2b2b;
	font-size: 16px;
}

.gray-table th{
	padding: 10px;
}

.gray-table tr:first-child th{
	padding: 20px 10px;
}

.gray-table th:first-child{
	padding-left: 10px;
}

.gray-table tr td{
	padding: 10px;
}

.feature-image .post-content,
.post-content{
	margin: 20px auto;
	max-width: 960px;
	padding: 0;
}


@media all and (max-width: 1000px){
	.feature-image .post-content,
	.post-content{
	    padding: 0 20px;
	}
}



/****************************schedule*****************************/
.schedule{

}

.schedule__item{
	margin-bottom: 50px;
}

.schedule__title{
	margin: 40px 0 20px 0;
}

/****************************schedule*****************************/

.teachers,
.teachers *{
	box-sizing: border-box;
	vertical-align: top;
}

.teachers{
	margin:40px 0;
}

.teachers-wrap{
	font-size: 0;
	line-height: 0;
	margin-left: -3%;
}

.teachers__item-wrap{
	width: 50%;
	display: inline-block;
	padding-left: 3%;
	margin-bottom: 40px;
}

.teachers__item{
	height: 336px;
	padding: 23px 23px 17px 23px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 3px 4px 11px rgba(0,0,0,0.4);
}

.teachers__images{
	float: left;
	width: 130px;
	height: 130px;
	overflow: hidden;
	display: inline-block;
	border-radius: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.teachers__images img{
	width: 100%;
}

.teachers__name{
	width: 70%;
	width: calc(100% - 150px);
	display: inline-block;
	font-size: 19px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	padding: 0 12px;
	/*height: 130px;*/
	overflow: hidden;
}

.teachers__name-wrap{
	display: inline-block;
	padding: 5px 0 0 0;
	/*height: 130px;*/
}

.teachers__text{
	margin: 12px 0 0 0;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.teachers__link{
	clear: both;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
	transition: all 0.3s;
	margin: 6px 0;
	color: #1268b2;
}

.teachers__link:hover{
	text-decoration: none;
}


.teachers__link a{
	color:inherit;
}

.teachers__gallery{
	text-align: center;
}

.teachers__gallery-name{
	margin: 50px 0 25px 0;
}

.teachers__gallery .fotorama__wrap{
	margin: 0 auto;
}

@media all and (max-width: 850px){
	.teachers__item-wrap{
		width: 100%;
	}
}

/***************contacts****************/
.contacts{
	margin-left: -40px;
	font-size: 0;
	line-height: 0;
}
.contacts__item-wrap{
	
width: 50%;
	
padding-left: 40px;
	
display: inline-block;
	
vertical-align: top;
	
margin-bottom: 20px;
}

.contacts__item-wrap--main{

width: 100%;
}
.contacts__item{
	
font-size: 16px;
	
line-height: 22px;
}


.contacts__content{
	
margin-bottom: 20px;
}

.contacts__content-item{
	
margin-bottom: 15px;
}
.contacts__name{
	
font-weight: bold;
	
font-size: 17px;
	
display: inline-block;
	
margin-right: 6px;
}

.contacts__value{
	
display: inline-block;
}

.contacts__map{
	
margin: 20px 0;

border-radius: 10px;
	
overflow: hidden;
}

.contacts__map iframe{
	border:none;
	width: 100%;
	height: 350px;
}

.contacts .vk{
	vertical-align: top;
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 28px;
	height: 28px;
	background: url('../../img/custom/soc_icon.png') no-repeat;
	background-position: 0 0;
	transition: opacity 0.2s;
	margin-top: -3px;
}
/***************************post*************************/

.posts .post-teaser{

display: block;

max-width: 960px;

margin: 28px auto;

padding: 0;
}