{% if site.theme_settings.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>

	<p>Изостудия Арт Портал. Рисование для детей и взрослых во Владимире</p>
    В оформлении сайта используются фрагменты картин художника <a href="{{ site.baseurl }}/surikov_victor_borisovich/">Сурикова Виктора Борисовича.</a> 
</footer>
{% endif %}
