<header class="site-header-container container">
	<div class="site-header cf">
		<div class="branding">
			<div class="branding__item_wrap logo">
				<div class="branding__item">
					{% if site.theme_settings.gravatar %}
					<a class="logo__link" href="{{ site.baseurl }}/">
						<img class="logo" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
					</a>
					{% elsif site.theme_settings.avatar %}
					<a class="logo__link" href="{{ site.baseurl }}/">
						<img class="logo" src="{{ site.baseurl }}/img/{{ site.theme_settings.avatar }}" alt=""/>
					</a>
				</div>
			</div>
			{% endif %}
			<div class="branding__item_wrap header__title">
				<div class="branding__item">
					<h1 class="site-title">
						<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
					</h1>
				</div>
			</div>
			<div class="branding__item_wrap header__phone">
				<div class="branding__item mobile">
					<a href="tel:+79209376092">8(920)937-60-92</a>
				</div>
				<div class="branding__item">
					<a href="tel:+79308300181">600-181</a>
				</div>
			</div>
		</div>
		<nav class="site-nav">
			<ul>
				{% assign pages = (site.pages | sort: 'order') | compact %}
				{% for page in pages | compact %}
					{% if page.title and page.hide != true | compact %}
					<li>
						<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
							{{ page.title }}
						</a>
					</li>
					{% endif %}
				{% endfor %}
				<!-- Social icons from Font Awesome, if enabled -->
				{% include icons.html %}
			</ul>
		</nav>
	</div>
</header>
