<div class="social">

	{% if site.theme_settings.vk %}
		<a class="social__item -vk" href="{{ site.theme_settings.vk }}" target="_blank" rel="noreferrer noopener nofollow">
			vk
 		</a>
	{% endif %}	

	{% if site.theme_settings.instagram %}
		<a class="social__item -instagram" href="{{ site.theme_settings.instagram }}" target="_blank" rel="noreferrer noopener nofollow">
			vk
 		</a>
	{% endif %}	

	{% if site.theme_settings.odnoklassniki %}
		<a class="social__item -odnoklassniki" href="{{ site.theme_settings.odnoklassniki }}" target="_blank" rel="noreferrer noopener nofollow">
			vk
 		</a>
	{% endif %}	

</div>

