// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}

/************************************header__image***********************************************/
.header-image-container{
    position:relative;
    padding-bottom:35%;

    &, *{
      box-sizing:border-box;
    }
}

.header-image{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    .inner-page &{
        height: 450px;
    }

    img{
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__text{
        color: $color1;
        position:relative;
        display: table;
        vertical-align: middle;
        height: 400px;
        max-height: 100%;
        
        &-wrap{
            display: table-cell;
            vertical-align: middle;
        }

        &-title,
        &-subtitle{
            width: 600px;
            max-width:100%;
        }

        &-title{
            font-size: 50px;
            line-height: 60px;
            padding-bottom: 8px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left:0;
                width:225px;
                height: 1px;
                background:$color2;
            }
        }

        &-subtitle{
            font-size: 20px;
            line-height: 30px;
            padding-top: 15px;
            vertical-align: middle;
            text-shadow: 0px 1px 3px rgba(79, 114, 158, 0.55);
        }
    }
}

@media all and (max-width: 1100px) {
    .header-image{

        &__text{
            
            &-wrap{
                vertical-align:top;
                padding-top:20px;
            }

            &-title{
                font-size: 41px;
                line-height: 55px;
                padding-bottom: 28px;
            }

            &-title,
            &-subtitle{
                width: 550px;
            }
        }
    }
}

@media all and (max-width: 750px) {
    .header-image,
    .inner-page .header-image{
        height: 300px;

        img{

        }
        
        &__text{
            display: none;
        }
    }
}

@media all and (max-width: 500px) {
    .header-image{
        height: 205px;
    }
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}


/*************************programs**************************/

.programs{
    
}