.post{
  &__meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}



// Post navigation
#post-nav {
  width:100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  float: left;

  a, .page-title {
    display: inline-block;
  }

  .page-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
  }

  a {
    position: relative;
    padding: 0 50px;
    margin: 20px 0;
    border:none;
    width: 50%;

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 15px;
      width: 30px;
      height: 30px;
      border: 1px solid;
      border-bottom: none;
      border-left: none;
      transform: rotate(-135deg) translate(15px, 15px);
    }

    &#prev-post{
      text-align: left;
      border-right: 1px solid;

      &:after{
        transform: rotate(-135deg) translate(15px, 15px);
      }
    }

    &#next-post{
      text-align: right;

      &:after{
        left: unset;
        right: 15px;
        transform: rotate(45deg) translate(-15px, -15px);
      }
    }
  }
  // a:hover {
  //   @extend a.button:hover;
  // }

  i {
    vertical-align: middle;
  }
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}






