/*******************************nav**************************************/
.menu {
  font-size: 0;
  line-height: 0; }
  .menu-wrap {
    font-size: 0;
    line-height: 0;
    width: 100%;
    position: relative; }
  .menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    line-height: 0;
    font-size: 0;
    background: transparent; }
    .menu ul li {
      list-style-type: none;
      position: relative;
      padding: 21px 22px;
      text-align: center;
      margin: 0;
      white-space: nowrap; }
      .menu ul li a,
      .menu ul li span {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        cursor: pointer;
        display: inline;
        padding: 0;
        z-index: 2;
        position: relative;
        text-transform: uppercase; }
        .menu ul li a:after,
        .menu ul li span:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          display: none;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 3.5px 0 3.5px;
          border-color: #fff transparent transparent transparent; }
      .menu ul li.parent > a:after,
      .menu ul li.parent > span:after {
        margin-left: 2px;
        top: 12px;
        display: inline;
        position: relative; }
      @media all and (min-width: 850px) {
        .menu ul li.current_ancestor > a,
        .menu ul li.current_ancestor > span, .menu ul li:hover > a,
        .menu ul li:hover > span {
          color: #00aae4; } }
      @media all and (max-width: 850px) {
        .menu ul li {
          white-space: normal; } }
  .menu-wrap > ul {
    display: table;
    width: auto;
    margin: 0 auto;
    position: relative; }
    @media all and (min-width: 850px) {
      .menu-wrap > ul {
        display: table !important; } }
    .menu-wrap > ul > li {
      display: table-cell; }
      .menu-wrap > ul > li:after {
        content: '';
        position: absolute;
        top: 50%;
        left: -2px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.25);
        width: 4px;
        height: 4px;
        z-index: 0;
        opacity: 1;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        display: block; }
        @media all and (max-width: 850px) {
          .menu-wrap > ul > li:after {
            display: none; } }
      .menu-wrap > ul > li.hovered:after, .menu-wrap > ul > li.next-hovered:after {
        opacity: 0; }
      .menu-wrap > ul > li:first-child:after {
        display: none; }
      @media all and (min-width: 850px) {
        .menu-wrap > ul > li.hidden {
          display: none; } }
  .menu .menu__level-1,
  .menu .menu__level-2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 22px;
    z-index: 2;
    width: auto;
    min-width: calc(100% + 44px);
    padding: 0;
    background: transparent; }
    @media all and (min-width: 850px) {
      .menu .menu__level-1,
      .menu .menu__level-2 {
        display: block;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(-20%);
        transition: transform 0.2s 0s, opacity 0.2s 0s, visibility 0.2s 0s, -webkit-transform 0.2s 0s;
        border-radius: 0 0 5px 5px; } }
    .menu .menu__level-1 li,
    .menu .menu__level-2 li {
      border-bottom: 1px solid #80d5f2; }
      @media all and (min-width: 850px) {
        .menu .menu__level-1 li:last-child,
        .menu .menu__level-2 li:last-child {
          border-color: transparent;
          border-radius: 0 0 5px 5px; } }
      .menu .menu__level-1 li a,
      .menu .menu__level-1 li span,
      .menu .menu__level-2 li a,
      .menu .menu__level-2 li span {
        text-transform: none;
        font-weight: 400;
        font-size: 15px;
        border-bottom: 1px solid transparent; }
  .menu .menu__level-1 li {
    display: block;
    padding: 10px 30px 11px;
    text-align: left;
    background: #00aae4; }
    @media all and (min-width: 850px) {
      .menu .menu__level-1 li.current_ancestor, .menu .menu__level-1 li:hover {
        background: #0099d3; }
        .menu .menu__level-1 li.current_ancestor > a,
        .menu .menu__level-1 li.current_ancestor > span, .menu .menu__level-1 li:hover > a,
        .menu .menu__level-1 li:hover > span {
          color: #80d5f2;
          border-color: #80d5f2; } }
  @media all and (min-width: 850px) {
    .menu .menu__level-1 {
      transform: translateY(-20%); } }
  .menu .menu__level-2 {
    left: 100%;
    top: 0;
    z-index: 4;
    margin: 0;
    min-width: 220px;
    padding: 0; }
    .menu .menu__level-2 li {
      background: #0099d3;
      padding: 10px 30px 10px;
      border-top: 1px solid transparent;
      text-align: left; }
      @media all and (min-width: 850px) {
        .menu .menu__level-2 li:first-child {
          border-top-right-radius: 5px !important;
          border-bottom-left-radius: 0 !important; }
        .menu .menu__level-2 li:hover {
          background: #00aae4; }
          .menu .menu__level-2 li:hover > a,
          .menu .menu__level-2 li:hover > span {
            color: #80d5f2;
            border-color: #80d5f2; } }
    @media all and (min-width: 850px) {
      .menu .menu__level-2 {
        transform: translateX(-10%); } }
  @media all and (min-width: 850px) {
    .menu li.parent:hover > ul {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
      visibility: visible;
      transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, visibility 0.3s 0.1s, -webkit-transform 0.3s 0.1s; } }
  .menu .submenu-switch {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    cursor: pointer;
    display: none; }
  .menu .has-hidden {
    padding-right: 60px; }
  .menu__switch {
    display: none;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 12px 0 12px 20px;
    width: 23px;
    height: 19px;
    background-image: url("../img/custom/icons.png");
    background-position: -24px -26px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 110; }
    @media all and (max-width: 850px) {
      .menu__switch {
        display: block; } }
    .menu__switch.is-open {
      background-position: -74px -26px;
      width: 20px;
      height: 20px;
      margin: 26px 20px; }
    .menu__switch--hidden {
      top: 23px;
      margin: 0; }
      @media all and (max-width: 850px) {
        .menu__switch--hidden {
          display: none !important; } }
      .menu__switch--hidden.is-open {
        right: 2px;
        background-position: -74px -26px;
        width: 20px;
        height: 20px;
        margin: 0; }
  .menu .menu-helper .menu-hidden {
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 200px;
    right: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateY(-20%);
    transition: transform 0.2s 0s, opacity 0.2s 0s, visibility 0.2s 0s, -webkit-transform 0.2s 0s; }
    .menu .menu-helper .menu-hidden ul {
      border-radius: 5px;
      background: #231f20; }
    .menu .menu-helper .menu-hidden > ul {
      text-align: left;
      margin: 6px 0;
      padding: 0;
      position: relative; }
      .menu .menu-helper .menu-hidden > ul li {
        text-align: left; }
  .menu .menu-helper.is-open .menu-hidden {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
    visibility: visible;
    transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, visibility 0.3s 0.1s, -webkit-transform 0.3s 0.1s; }
  @media all and (min-width: 851px) {
    .menu .menu-helper li.parent .menu__level-1 {
      left: unset;
      right: 100%;
      top: 0;
      transform: translateX(10%); }
    .menu .menu-helper li.parent:hover .menu__level-1 {
      transform: translateX(0); } }

@media all and (max-width: 850px) {
  .menu {
    position: absolute;
    top: 0;
    z-index: 4; }
    .menu-wrap {
      padding: 0 !important; }
      .menu-wrap ul {
        position: absolute;
        margin: 0;
        width: 100%;
        display: block;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(-100%);
        transition: transform 0.2s 0s, opacity 0.2s 0s, visibility 0.2s 0s, -webkit-transform 0.2s 0s; }
        .menu-wrap ul:before {
          content: attr(data-text);
          position: relative;
          width: 100%;
          color: #fff;
          background: #231f20;
          font-size: 25px;
          line-height: 29px;
          font-weight: 700;
          text-align: left;
          padding: 23px 20px 21px 65px;
          display: block;
          z-index: 2;
          border-bottom: 1px solid #656363; }
        .menu-wrap ul.is-open {
          z-index: 33; }
        .menu-wrap ul.is-current {
          z-index: 3; }
        .menu-wrap ul li {
          display: inline-block;
          width: 100%;
          padding: 12px 20px 15px 20px;
          text-align: left;
          border-bottom: 1px solid #656363; }
          .menu-wrap ul li a,
          .menu-wrap ul li span {
            z-index: 1;
            position: initial; }
          .menu-wrap ul li.parent > a:after,
          .menu-wrap ul li.parent > span:after {
            margin-left: 0;
            position: absolute;
            display: block;
            right: 21px;
            top: 21px;
            border-width: 3.5px 0 3.5px 5px;
            border-color: transparent transparent transparent #fff; }
          .menu-wrap ul li.is-open {
            position: initial; }
            .menu-wrap ul li.is-open ul:before {
              display: block; }
            .menu-wrap ul li.is-open > ul {
              top: 0;
              left: 0;
              opacity: 1;
              transform: translate(0, 0);
              pointer-events: auto;
              visibility: visible;
              transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, visibility 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
              overflow: auto;
              height: 100vh; }
      .menu-wrap > ul {
        background: #231f20;
        transition: none; }
        .menu-wrap > ul:before {
          padding-left: 20px; }
        .menu-wrap > ul > li:last-child {
          border-bottom: none; }
        .menu-wrap > ul.is-open {
          position: relative; }
    .menu.is-open {
      height: 100vh;
      overflow: hidden;
      background: #231f20;
      padding: 0; }
      .menu.is-open .menu-wrap > ul {
        position: relative;
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: auto;
        visibility: visible;
        transition: none; }
    .menu .menu__switch {
      display: block; }
    .menu .submenu-switch {
      display: block;
      z-index: 10; }
      .menu .submenu-switch.is-open {
        right: unset;
        left: 0;
        background-image: url("../img/custom/icons.png");
        background-position: -94px -26px;
        width: 25px;
        height: 19px;
        z-index: 12;
        margin: 26px 20px; }
    .menu .menu__level-1 {
      display: block;
      width: 100%;
      margin: 0;
      z-index: 11;
      padding: 0;
      min-width: 1px;
      transform: translateX(-100%);
      background: #231f20; }
      .menu .menu__level-1 li {
        background: transparent;
        padding: 13px 20px 16px 20px;
        border-color: #656363; }
        .menu .menu__level-1 li a,
        .menu .menu__level-1 li span {
          font-weight: 700;
          font-size: 18px; }
    .menu .menu__level-2 {
      display: block;
      width: 100%;
      margin: 0;
      z-index: 11;
      padding: 0;
      min-width: 1px;
      transform: translateX(-100%);
      background: #231f20; }
      .menu .menu__level-2 li {
        background: transparent;
        padding: 13px 20px 16px 20px;
        border-top: none; }
        .menu .menu__level-2 li a,
        .menu .menu__level-2 li span {
          font-weight: 700;
          font-size: 18px; }
    .menu .menu-helper {
      display: none; } }
/*********************************************************************************/
.nav-container {
  position: relative;
  background: #231f20;
  z-index: 2; }
  @media (max-width: 850px) {
    .nav-container {
      position: initial; } }

.nav-container--fixed {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  opacity: 0; }

.nav-container--slide-up {
  will-change: transform;
  transition: transform .5s; }

.nav-container--visible {
  transform: translateY(0);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1; }

.header__quote {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding-left: 30px; }
  @media (max-width: 850px) {
    .header__quote {
      display: none;
      padding-left: 0;
      width: 100%; }
      .menu.is-open .header__quote {
        display: block; } }
  .header__quote .button {
    width: 100%;
    padding: 0 23px;
    height: 44px;
    line-height: 44px; }
    @media all and (max-width: 850px) {
      .header__quote .button {
        height: 51px;
        line-height: 51px;
        border-radius: 0; } }

.menu--header .menu-wrap {
  display: inline-block;
  width: calc(100% - 180px);
  vertical-align: middle; }
  @media all and (max-width: 850px) {
    .menu--header .menu-wrap {
      display: block;
      width: 100%;
      vertical-align: top; } }
  .menu--header .menu-wrap > ul {
    width: 100%; }
    @media all and (min-width: 850px) {
      .menu--header .menu-wrap > ul > li:first-child {
        padding-left: 0; } }
  @media (min-width: 851px) {
    .menu--header .menu-wrap ul li {
      padding: 21px 15px; } }

.menu__hover {
  display: block;
  transition: 0.3s ease-in-out;
  width: 100px;
  height: 3px;
  background-color: #00a6e1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: 0; }

/*# sourceMappingURL=_menu.css.map */
