/*************************************social****************************************/
.social {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    margin-left: -15px;

    &__item {
        width: 28px;
        height: 28px;
        font-size: 0;
        line-height: 0;
        margin-left: 15px;
        margin-bottom: 15px;
        border-bottom: 0;
        background-image: url('../../img/custom/soc_icon.png');
        background-position: 0 0;
        transition:0.0s all; 

        @media all and (min-width:851px){
            &:hover {
                
            }
        }

        &.-vkontakte{
            background-position: 0 0;

            @media all and (min-width:851px){
                &:hover {
                    
                }
            }
        }

        &.-fb{
            background-position: -41px 0;

            @media all and (min-width:851px){
                &:hover {
                }
            }
        }


        &.-twitter{
            background-position: -82px 0;

            @media all and (min-width:851px){
                &:hover {
                 
                }
            }
        }

        &.-gplus{
            background-position: -123px -49px;
            @media all and (min-width:851px){
                &:hover {

                }
            }

        }

        &.-instagram{
            background-position: -164px 0;

            @media all and (min-width:851px){
                &:hover {
                    
                }
            }
        }



        &.-odnoklassniki{
            background-position: -205px 0;

            @media all and (min-width:851px){
                &:hover {
                    
                }
            }
        }
    }

}
