
%base-text {
    font-size: $font-size;
    line-height: $line-height;
    color: $color1;
    text-align: left;

    @media all and (max-width:850px){
        font-size: 15px;
        line-height: 20px;
    }
}




/********************************************common********************************************/

.wrapper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.cf {
    max-width: 1260px;
    width:100%;
    margin-left: auto;
    margin-right: auto;


    @media (max-width: 1300px) {
        padding-left: 20px;
        padding-right: 20px;
    }

}


.content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 80px;
}

.content img{
    max-width:100%;
}
.container {
    width: 100%;
    overflow: visible;

    &.is-higher{
        z-index: 10;
    }
}

/****************************************pagination*****************************************************/

.pagination{
    margin: 11px 0 10px -20px;
    text-align:left;
    font-size:0;
    line-height:0;

    a{
        display: inline-block;
        height: 40px;
        min-width: 40px;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        color:#fff;
        text-align: center;
        border-radius: $common-radius;
        background-color: $color5;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 72, 106, 0.3);
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 20px;
        margin-bottom: 20px;


        @media all and (min-width:851px){
            &:hover{
                background-color: $color4;
                box-shadow: none;
            }
        }

        &.current{
            background-color: $color4;
            box-shadow: none;
        }

        &.prev,
        &.next{
            position: relative;
            font-size: 0;
            line-height: 0;
            background-color: rgb(0, 134, 134);



            &:after{
                content: '';
                position: absolute;
                top: 14px;
                left: 16px;
                width: 7px;
                height: 11px;
                background:$icons -75px -32px ;
            }
        }


        &.prev{
           
        }

        &.next{
            transform:rotate(180deg);
        }

        &.show-all{
            padding: 0 23px;
        }
    }


}
/****************************************path*****************************************************/


.path {
    position: relative;
    margin: 25px 0 10px 0;
    font-size: 0;
    line-height: 0;

    @media all and (max-width: 650px) {
        display:none;
    }

    &__item {
        display: inline-block;
        position: relative;
        font-size: 14px;
        line-height: 18px;
        color: $color5;
        margin-right:33px;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            top: 3px;
            right: -21px;
            width: 7px;
            height: 10px;
            background-image: $icons;
            background-position: -6px -37px;
        }

        &.-home{
            font-size: 0;
            line-height: 0;
            height: 14px;
            width: 16px;
            background-image:$icons;
            background-position: -37px -26px;

        }

        &.-active{
            color: $color1;

            &:after{
                display:none;
            }
        }

    }

}


/**********************************subsection*****************************************************/

.subsection {
    font-size: 0;
    line-height: 0;
    margin: 20px 0 2px;

    $grid-gap: 26px;
    @include grid($grid-gap);
    align-items: start;
    

    &__item{
        @include grid-col(1/6, $grid-gap);
        margin-bottom: 20px;
        text-align: center;
        padding: 9px 18px 10px;
        cursor: pointer;
        border-radius: $common-radius;
        background-color:$color5;
        border:1px solid transparent;
        transition:0.3s background-color;

        @media all and (max-width: 1200px) {
            @include grid-col(1/5, $grid-gap);

        }

        @media all and (max-width: 1024px) {
            @include grid-col(1/4, $grid-gap);
        }

        @media all and (max-width: 850px) {
            @include grid-col(1/3, $grid-gap);
        }

        @media all and (max-width: 670px) {
            @include grid-col(1/2, $grid-gap);
        }

        @media all and (max-width: 480px) {
            @include grid-col(1/1, $grid-gap);
        }

        a{
            color:#fff;
            font-size:14px;
            line-height:17px;
            text-decoration:none;
        }

        &:hover{
            @media all and (min-width: 850px) {
                background-color:$color4;
            }
        }
    }
}








.svg-icon {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.svg-icon-large {
    width: 6em;
    height: 6em;
    animation-duration: 6000ms;
    animation-name: spinLeft;
}

.svg-icon-small {
    width: 4em;
    height: 4em;
    position: absolute;
    margin-left: -15px;
    margin-top: -25px;
    animation-duration: 4000ms;
    animation-name: spinRight;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #CCCCCC;
}

.svg-icon-small path {
    stroke: #CCCCCC;
    stroke-width: .3;
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


/*****************************************scrollTop*********************************************/

#scrollTop {
    position: fixed;
    text-decoration: none;
    font-size: 0;
    line-height: 0;
    right: 23px;
    bottom: 50px;
    z-index: 100;
    width: 44px;
    height: 26px;
    cursor:pointer;
    transition:0.3s all;
    opacity: 0;

    &:after{
        content:'';
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $icons 0 -107px no-repeat;
    }

    &:hover{
        @media all and (max-width: 850px) {
            opacity: 0.8;
        }
    }

    @media all and (max-width: 850px) {
        display: none !important;
    }
}
            



