// Typography
$font-family-main: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-headings: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size: 18px;
$line-height: 24px;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #F8F8FF;
$background-color: #F8F8FF;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #383838;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #F98752;
$header-desc-text-color: #000080;



$color1:$text-color;
$color2:#4a244e; //Violet light
$color3: #fff; //text3
$color3_1:#e5e7e9; //light grey
$color3_2:#8a8b8c; //medium grey
$color3_3:#787878; //dark grey
$color4: #255957; //Emerald green
$color5: #436bc0; // Turquoise blue
$color6: #787878; //dark grey


$common-radius:5px;
$table-radius:0;

$icons:url('../img/icons.png');


